<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body,
        html,
        div {
            margin-top: 10px;
            background-color: #1a1a1a;
            color: white;
        }
        .bar-b{
            background-color: #FF9601;
        }
        .bar-b h1{
            margin-left: 40px;
        }
        .bar-items {
            color: #FF9601;
        }

        .in4-b ul {
            list-style-type: none;
        }

        .in4-b ul li {
            padding-top: 10px;
        }

        .bar-menu,.in4-b ul li a {
            color: white;
            text-decoration: none;
        }

        .in4-b ul li a span {
            font-size: 18px;
            font-weight: bolder;
            font-weight: normal;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <a href="/" class="bar-menu" style="font-size:30px;text-decoration: none">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
                Home
            </a>
            / <%= result.name %>
        </div>
        <div class="container-fluid">
            <div class="bar-b">
                <h1>Book Information</h1>
            </div>
            <div class="container-fluid">
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                        <img src="<%= result.linkImg %>" alt="img">    
                        <div style="margin-top: 20px;">
                            <a class="btn btn-primary" href="<%= result.linkBook %>">Read Book</a>
                        </div> 
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 in4-b">
                        <h2 class="bar-items">
                            <%= result.name %>
                        </h2>
                        <ul>
                            <li><a><span>Status:</span> Uploading</a></li>
                            <li><a><span>Author:</span>
                                    <%= result.author %>
                                </a></li>
                            <li><a><span>Type:</span>
                                    <%= result.type %>
                                </a></li>
                            <li><a><span>Description:</span>
                                    <%= result.description %>
                                </a></li>
                            <li><a><span>Create Time:</span>
                                    <%= result.createdAt %>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>